{
  "plugins": ["prettier-plugin-sh", "prettier-plugin-astro"],
  "overrides": [
    {
      "files": "*.ts",
      "options": {
        "tabWidth": 4
      }
    },
    {
      "files": "*.astro",
      "options": {
        "parser": "astro",
        "tabWidth": 4,
        "printWidth": 120
      }
    }
  ],
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "arrowParens": "avoid"
}
